<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico">
</head>
<body>
<h1>Welcome to the library!</h1>
<h2>List of books:</h2>

<div th:if="${#lists.isEmpty(books)}">
    К сожалению, библиотека пуста :(
</div>
<div th:if="${not #lists.isEmpty(books)}">
    <table>
        <thead>
        <tr>
            <th>
                <div th:text="Title">Title</div>
            </th>
            <th>
                <div th:text="Author">Author</div>
            </th>
            <th>
                <div th:text="Genre">Genre</div>
            </th>
            <th>
                <div th:text="Comment">Comment</div>
            </th>
            <th>
                <div th:text="Edit">Edit</div>
            </th>
            <th>
                <div th:text="Delete">Delete</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author.fullName}"></td>
            <td th:text="${book.genre.name}"></td>
            <td>
                <a th:href="@{/comment/book/{id}(id=${book.id})}" href="comments.html" th:text="Show">Show</a>
            </td>
            <td>
                <a th:href="@{/book/{id}(id=${book.id})}" href="book_edit.html" th:text="Edit">Edit</a>
            </td>
            <td>
                <form th:action="@{/book/{id}/delete(id=${book.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<table>
    <tbody>
    <tr>
        <td>
            <a th:href="@{/book}" href="book_edit.html">
                <button type="button" th:text="Add">Add</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
